#section7 {
    background-size: cover;
    background-image: url(https://res.cloudinary.com/dxy2muzyb/image/upload/v1689242955/wedding/section6/bjiqhdbptlag2xnithqy.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.guest-wrap {
    background: #eaeaeae6;
    padding: 70px !important;
    margin: 100px auto;
}

.contact-title h2 {
    position: relative;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 25px;
    color: #F14E95;
    margin-top: 0;
}

.contact-title p {
    color: #5a5858;
    font-size: 18px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F14E95;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-edit i {
    color: #F14E95;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-preview img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.contact-form input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    padding-left: 10px;
    /* background: #fff; */
    opacity: 1;
    border: none;
    border-radius: 5px;
}

.form-control {
    margin-top: 20px;
    font-size: 16px;
    background: #fff;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    position: relative;
}

.contact-form select {
    border: 0;
    outline: 0;
}

.contact-form input[type=submit] {
    border: none;
    padding: 5px 21px 7px;
    background: #F14E95;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: auto;
    display: inline-block;
    transition: .3s;
    font-weight: 600;
}
