
  @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Dancing+Script:wght@500;600&family=Lobster&family=Sacramento&family=Work+Sans&display=swap');


  h2 {
    margin-bottom: 0px;
    font-size: 80px;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    color: #f8f8f8;
    text-transform: none !important;
  }